ST.86/schemas/records-lite-V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.inpi.fr/standards/XMLSchema/records" xmlns="http://www.inpi.fr/standards/XMLSchema/records"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="RecordKind.xsd" />
	<xs:include
		schemaLocation="http://www.wipo.int/standards/XMLSchema/common/WIPOST3CodeType-V2007.xsd" />

	<xs:element name="Transaction" type="TransactionType"></xs:element>

    <xs:complexType name="TransactionType">
    	<xs:sequence>
    		<xs:element name="TransactionBody" type="TransactionBodyType"></xs:element>
    	</xs:sequence>
    </xs:complexType>

	<xs:complexType name="TransactionBodyType">
		<xs:sequence>
			<xs:element name="TransactionContentDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionIdentifier" type="xs:string" minOccurs="0"/>
						<xs:element name="TransactionCode" type="TransactionCodeType"/>
						<xs:element name="TransactionData" type="TransactionDataType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="TransactionCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Record Registration"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="TransactionDataType">
		<xs:sequence>
			<xs:element name="RecordIdentifier" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Numéro d'inscription
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordSequenceNumber" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Numéro d'ordre de l'inscription
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordFilingDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Date de la demande
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordKind" type="RecordKindListType">
				<xs:annotation>
					<xs:documentation>
						Liste des codes natures
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordScope" type="RecordScopeType">
				<xs:annotation>
					<xs:documentation>
						Type de titre (DM, Marque ou Brevet)
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="EntityKeyDetails" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Identifiant(s) des titres
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EntityKey" type="KeyType"
							minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="ClaimantDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="ClaimantKey"
								type="KeyType" maxOccurs="unbounded" />
							<xs:element name="Claimant"
								type="ClaimantType" maxOccurs="unbounded" />
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="BeneficiaryDetails" maxOccurs="1" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="BeneficiaryKey"
								type="KeyType" maxOccurs="unbounded" />
							<xs:element name="Beneficiary"
								type="BeneficiaryType" maxOccurs="unbounded" />
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RepresentativeDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="RepresentativeKey" type="KeyType" maxOccurs="1" minOccurs="0"/>
							<xs:element name="Representative" type="RepresentativeType" maxOccurs="1" minOccurs="0"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PublicationDetails" type="PublicationType" maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="Comment" type="xs:string" maxOccurs="1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="PersonBagType">
		<xs:sequence>
			<xs:element name="Person" type="PersonType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonType">
		<xs:sequence>
			<xs:element name="PersonIdentifier" type="KeyType" maxOccurs="unbounded" minOccurs="0"></xs:element>
			<xs:element name="Role" type="RoleType" maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="Name" type="FormattedName" minOccurs="0" />
			<xs:element name="Address" type="FormattedAddressType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FormattedName">
		<xs:sequence>
			<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="LastName" type="xs:string" minOccurs="0"/>
			<xs:element name="LegalIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="OrganizationName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FormattedAddressType">
		<xs:sequence>
			<xs:element name="AddressLine" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AddressMailCode" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressPostOfficeBox" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressRoom" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressFloor" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressBuilding" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressStreet" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressCity" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressCounty" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressState" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressPostcode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="RecordScopeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Design"/>
			<xs:enumeration value="Trademark"/>
			<xs:enumeration value="Patent"/>
		</xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="RecordKindListType">
		<xs:list itemType="RecordKindType" />
    </xs:simpleType>

	<xs:complexType name="KeyType">
		<xs:sequence>
			<xs:element name="Identifier" type="xs:token" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="RoleType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Licensee"/>
			<xs:enumeration value="Mortgagee"/>
			<xs:enumeration value="Owner"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ClaimantType">
		<xs:sequence>
			<xs:element name="ClaimantIdentifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ClaimantSequenceNumber" type="xs:integer" minOccurs="0"/>
			<xs:element name="ClaimantAddressBook" type="PersonType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BeneficiaryType">
		<xs:sequence>
			<xs:element name="BeneficiaryIdentifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BeneficiarySequenceNumber" type="xs:integer" minOccurs="0"/>
			<xs:element name="BeneficiaryAddressBook" type="PersonType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RepresentativeType">
		<xs:sequence>
			<xs:element name="RepresentativeIdentifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RepresentativeSequenceNumber" type="xs:integer" minOccurs="0"/>
			<xs:element name="RepresentativeKindCode" type="RepresentativeKindCodeType" minOccurs="0"/>
			<xs:element name="RepresentativeAddressBook" type="PersonType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IdentifierType">
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute name="identifierKindCode" type="WIPOST3CodeType" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="PublicationType">
		<xs:sequence>
			<xs:element name="PublicationIdentifier" type="xs:string"/>
			<xs:element name="PublicationSection" type="PublicationSectionType" minOccurs="0"/>
			<xs:element name="PublicationSubsection" type="PublicationSubsectionType" minOccurs="0"/>
			<xs:element name="PublicationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="PublicationPage" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PublicationSectionType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Applications"/>
					<xs:enumeration value="Amendments to applications"/>
					<xs:enumeration value="Correction of errors on applications"/>
					<xs:enumeration value="Withdrawals"/>
					<xs:enumeration value="Limitations"/>
					<xs:enumeration value="Total refusals"/>
					<xs:enumeration value="Partial refusals"/>
					<xs:enumeration value="Registrations with no amendments"/>
					<xs:enumeration value="Registrations with amendments"/>
					<xs:enumeration value="Correction of errors on registrations"/>
					<xs:enumeration value="Total transfers"/>
					<xs:enumeration value="Partial transfers"/>
					<xs:enumeration value="Change of name and address of proprietor"/>
					<xs:enumeration value="Change of name and professional address of representative"/>
					<xs:enumeration value="Replacement of representative"/>
					<xs:enumeration value="Appointment of a new representative"/>
					<xs:enumeration value="Deletion of the representative"/>
					<xs:enumeration value="Total surrender of designs"/>
					<xs:enumeration value="Partial surrender of designs"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="PublicationSubsectionType">
		<xs:union memberTypes="xs:token xs:token"/>
	</xs:simpleType>

	<xs:simpleType name="RepresentativeKindCodeType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Professional Representative"/>
					<xs:enumeration value="Lawyer"/>
					<xs:enumeration value="Association"/>
					<xs:enumeration value="Employee"/>
					<xs:enumeration value="Other"/>
					<xs:enumeration value="Undefined"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
</xs:schema>